body{
    background: #F6F6F6;
    font-family: 'Roboto', sans-serif;
}
.card1{
    height: 450px;
}
.card2{
    background: white;
}
#shoes1, #shoes2, #shoes4, #shoes4{
    background-position: center center;
    background-size: cover;
}
#shoes1, #shoes3{
    background: url("../images/shoes1.png");
    background-size: cover;
}
#shoes2, #shoes4{
    background: url("../images/shoes2.png");
    background-size: cover;
}
#myCarousel .owl-prev, #myCarousel .owl-next{
    height: 60px;
    width: 60px;
    opacity: 0.8;
    position: absolute;
    top: -82px;
}
#myCarousel2 .owl-prev, #myCarousel2 .owl-next{
    height: 46px;
    width: 46px;
    border-radius: 50% !important;
    opacity: 0.8;
    background-color: white !important;
    position: absolute;
    box-shadow: 0 2px 2px rgba(222, 222, 222, 0.53);
    top: 152px;
}
#myCarousel .owl-next{
    right: -20px;
}
#myCarousel .owl-prev{
    right: 50px;
}
#myCarousel2 .owl-next{
    right: -26px;
}
#myCarousel2 .owl-prev{
    left: -26px;
}
.cart{
    bottom: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    background: #F6F6F6;
}
.cart svg{
    width: 24px ;

}
.cart, .cart svg{
    fill: #000000;
    transition: 0.5s;

}
.card2:hover .cart{
    background: #000000;
}
.card2:hover svg{
    fill: #ffffff;
}
.owl-prev span,.owl-next span{
    display: none;
}

#myCarousel .owl-prev,.owl-next{
    background-image: url("../images/ll1.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
#myCarousel .owl-next{
    background-image: url("../images/rr1.svg") !important;
}
#myCarousel2 .owl-prev,.owl-next{
    background-image: url("../images/ll.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
#myCarousel2 .owl-next{
    background-image: url("../images/rr.svg") !important;
}
.owl-prev:hover,.owl-next:hover{
    opacity: 1;
    background-color: transparent !important;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background-color: transparent;
}
button:focus{
    outline: none;
}
a, a:hover{
    text-decoration: none;
    color: #000000;

}
button, button:focus{
    outline: none;
}
.bg{
    background-size: cover;
    height: 550px;
    background-position: center center;
}
.girl{
    background-image: url("../images/backgroung.png");

}
.cross{
    background-image: url("../images/bgcross.png");
}
.outfits{
    height: 500px;
}
.outfit1{
    background: url("../images/outfit1.png");
    background-size: cover;
}
.outfit2{
    background: url("../images/outfit2.png");
    background-size: cover;
}
.outfit3{
    background: url("../images/outfit3.png");
    background-size: cover;
}
.boy{
    background-image: url("../images/boybg.png");
}
.desktop .navbar-nav a{
    color: #999999;
    border-bottom: 3px solid transparent;
}
.desktop .navbar-nav a:hover{
    color: #000000;
    border-bottom: 3px solid black;

}
h1{
    font-weight: 800;
    font-size: 50px;
    letter-spacing: -0.02em;
}
h2{
    font-weight: 400;
    font-size: 26px;
}
.shopnow{
    font-size: 22px;
    letter-spacing: -0.02em;
}
@media (max-width: 576px) {
    .desktop{
        display: none;
    }
    .bg{
        height: 227px;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 12px;
    }
    .shopnow{
        font-size: 14px;
    }
    .font-size-40{
        font-size: 22px;
        font-weight: 700;
    }
    #myCarousel .owl-prev, #myCarousel .owl-next{
        background-size: 70%;
        top: -78px;
    }
    .card1{
        height: 268px;
    }
}