body{
    overflow-x: hidden;
}
*{
    color: #222124;
    font-family: 'Inter', sans-serif;
}
button{
    display: none;
}
button:focus{
    outline: none;
}
h1{
    font-weight: 900;
    padding: 100px 0 0;
    margin-bottom: 0;
    width: 600px;
    font-size: 80px;
}
h2{
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
}
h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
h4{
    margin: 30px 0 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
h5{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /*opacity: 0.4;*/
    color: #999999;
    padding-right: 10px;
    margin: 0;
}
p{
    margin: 0;
    font-size: 18px;
    line-height: 32px;
}
ul{
    list-style-type: none;
}
.fireball{
    position: absolute;
    left: -230px;
    top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #222124;


    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 7px 40px rgba(238, 39, 68, 0.355086);
    backdrop-filter: blur(8.15485px);
    border-radius: 25px;
}
li{
    margin: 0;
    padding: 0;
}
ul>li>a{
    text-decoration: none;
    padding: 10px 20px;
    color: #222124;
    font-size: 20px;
    line-height: 24px;
border-radius: 50px;
}
ul>li>a:hover{
    background: #F1B301;
    text-decoration: none;
    color: white;
}
.onlydesktop{}
.onlymobile{
    display: none;
}
.hr{
    height: 2px;
    border-radius: 3px;
    background: #979797;
}
.offer{
    position: relative;
    width: 255px;
    height: 200px;
    border-radius: 12px;
}
.offer .type{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 19px;
    background: rgba(255, 255, 255, 0.203344);
    border-radius: 19px;
    color: #FFFFFF;
}
.offer .name{
    font-weight: bold;
    font-size: 34px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 29px;
}
#yangi .name{
    color: #E76A06;
}
#bestseller .name{
    color: #fC96F7;
}
.offer img{
    position: absolute;
    bottom: 0;
    right: 0;
}
#yangi{
    background: #F1B301;
}
#bestseller{
    background: #800A7A;
}
#splash{
    position: absolute;
    width: 749px;
    right: -31px;
    top: 134px;
}
.mybuttons{
    background: none;
    border: 2px solid #ffffff27;
    height: 60px;
    color: white;
}
.mydiv{
    display: flex;
    height: 230px;
    overflow: hidden;
    border: 1px solid rgba(151, 151, 151, 0.181927);
    border-radius: 12px;
}
.texts{
    position: relative;
    width: 100%;
}
.price{
    position: absolute;
    display: flex;
    width: 100%;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    bottom: 30px;
}
.plus{
    color: white;
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background: #F1B301;
}
.mydiv img{
    width: 180px;
    height: 180px;
    margin: 30px 40px 20px 30px;
}
.flexer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexer>img{
    width: 24px;
    margin: 30px;
}
.flexer>a{
    font-size: 14px;
    margin: 0 20px;
    color: #222124;
    text-decoration: none;
}
.flexsb{
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.purplebg{
    overflow: visible;
    background: #800A7A;;
    /*padding-bottom: 70px;*/
}
.halfpurple{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 58.3333%, rgba(128,10,122,1) 58.3333%, rgba(128,10,122,1) 100%);
}
#phone{
    position: absolute;
    width: 854px;
    bottom: -81px;
    right: -147px;
}
#yellowline{
    position: absolute;
    width: 796px;
    bottom: 112px;
    right: -352px;
}
.relativepos{
    /*overflow-y: visible;*/
    /*overflow-x: hidden;*/
    position: relative;
}
.custompadding{
    padding: 75px 0 63px 0;
}
.apps{
    /*display: block;*/

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 22px;
    color: #ffffff;
    /*margin-bottom: 50px;*/
    padding: 20px;
}
a img{
    width: 55px;
    padding-right: 20px;
}
.apps{
    border: 2px solid #ffffff27;
}
@media (max-width: 576px) {
    .mydiv{
        margin: 0 10px;
        /*width: 282px;*/
        /*width: 372px;*/
        height: 163px;
    }
    .mydiv img{
        width: 127px;
        height: 127px;
        margin: 21px 21px 12px 18px;
    }
    p{
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin: 12px 0 46px;
        color: #FFFFFF;
    }
    h1{
        font-size: 36px;
        line-height: 44px;
        margin-top: 200px;
        width: 100%;
        text-align: center;
        color: #FFFFFF;
    }
    h2{
        font-size: 36px;
        line-height: 44px;
        width: 380px;
        text-align: center;
    }
    h3{
        font-size: 18px;
        /*line-height: 22px;*/
    }
    h4{
        margin: 20px 0 8px;
        font-size: 18px;
        line-height: 22px;
    }
    h5{
        font-size: 12px;
        line-height: 15px;
    }
    .plus{
        font-size: 17px;
        width: 35px;
        height: 35px;
    }
    .price{
        padding-right: 21px;
        bottom: 21px;
    }
    button{
        display: inline-block;
        width: 362px;
        /*width: 282px;*/
        height: 46px;
        font-size: 16px;
        line-height: 19px;
        background: #F1F1F1;
        border-radius: 27px;
    }
    .purplebg{
        margin-top: 50px;
    }
    .custompadding{
        padding: 275px 0 1px 0;
    }
    .miniheight{
        transition: 0.5s;
        height: 585px;
        overflow: hidden;
    }
    #phone{
        width: 515px;
        bottom: 360px;
        right: 1px;
    }
    #yellowline{
        width: 338px;
        bottom: 491px;
        right: 35px;
    }
    .apps{
        margin: 0 8px;
        width: 350px;
        font-size: 18px;
        padding: 16px;
    }
    .onlydesktop{
        display: none;
    }
    .onlymobile{
        display: block;
    }
    .halfpurple{
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(128,10,122,1) 33%, rgba(128,10,122,1) 100%);
    }
    #splash {
        width: 372px;
        right: 3px;
        top: 109px;
    }
    ul{
        height: 50px;
        list-style-type: none;
        overflow: auto;
    }
    .imagemargin{
        margin: 25px;
    }
    ul>li>a{
        padding: 10px 20px;
        font-size: 16px;
        line-height: 19px;
    }
    .fireball{
        left: -150px;
        top: 20px;
        font-size: 17px;
        line-height: 20px;
        width: 35px;
        height: 35px;
    }

}