*{
    font-family: 'Open Sans', sans-serif;
    color: #2F2B29;
}
a:hover{
    text-decoration: none;
}
li{
    line-height: 1.05;
    padding: 10px;
    list-style-type: none;
    background: #f9f9f9;
}
li>a{
    font-size: 10px;
    line-height: 14px;
    color: #7A7978;
}
li.activ{
    background: #e3e3e3;
}
.myborder{
    border: 1px solid #c9c9c9;
}
li.activ>a {
    font-weight: 600;
    color: #2F2B29;
}
.ordering{
    border-top: 1px solid #c9c9c9;
    background: #e3e3e3;
}
.notebook{
    width: 574px;
    top: -17px;
    right: -49px;
}
span{
    font-weight: bold;
    font-size: 18px;
}
.btn-yellow{
    background: #FEDD00;
    box-shadow: 3px 3px 10px #D8D4BD;
}
.btn-yellow:hover{
    background: #edce00;
}
.btn--outline{
    border: 2px solid #2F2B29;
}
.btn--outline:hover{
    background: #e2e2e2;
}
.mycard{
    height: 100%;
    padding: 24px;
    transition: hover 0.4s;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%, #F3F3F3 100%), #F6F6F6;
    box-shadow: 0 0 20px rgba(141, 140, 138, 0.22);
    border-radius: 10px;
}
.mycard:hover{
    box-shadow: 0 4px 20px rgba(141, 140, 138, 0.22);
}
h1, h2{
    font-weight: bold;
    font-size: 30px;
}
h3{
    font-size: 26px;
    font-weight: bold;
}
h4{
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
h5{
    font-weight: 600;
    font-size: 22px;
}
h6{
    margin: 0;
}
.footer-input{
    padding: 8px 16px;
    width: 160px;
    font-size: 14px;
}
footer{
    background: #f3f3f3;
}
input{
    font-size: 10px;
    padding: 4px;
}
input:focus, input:active{
    outline: none;
}
.ordering-input{
    border: 1px solid #c6bcbc;
    color: #7A7978;
    border-radius: 2px;
    min-width: 160px;
    font-size: 10px;
    padding: 4px;
}
.search{
    font-size: 10px;
    background: #fedd00;
}
.panel{
    background: #fedd00;
    bottom: -8px;

}

@media (max-width: 576px) {
    h1{
        font-size: 23px;
    }
    h2{
        padding-left: 10px;
        border-left: 3px solid #2F2B29;
        font-size: 23px;
    }
    h4{
        font-size: 16px;
    }
    .img-checked{
        width: 37px;
    }
    .desktop{
        display: none;
    }
    .smallerimage{
        width: 20px;
    }
    .panel{
        bottom: -50px;
    }
    input{
        width: 260px;
    }
    .footer-input{
        width: 260px;
    }
}