body {
	font-family: 'Roboto Condensed', sans-serif;
	color: #ffff00;
}

div.galleryblock {
	width: 100%;
}

div.gallery { 
	margin: 5px;
	border-radius: 10px;
	backdrop-filter: blur(4px);
	background-color: rgba(0, 0, 0, 0.3);
	float: left;
	width: 300px;
	height: 325px;
}

div.gallery:hover {
	color: #ffffff;
	background-color: #bb172077;
	transition: 0.5s;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.37);
}

div.gallery img {
	align-self: center;
	margin: 15px;
	height: 70%;
}

p.info {
	padding: 15px;
	text-align: center;
}
.button1{
	font-family: 'Lato', sans-serif;
	position: absolute;
	width: 263px;
	height: 75px;
	left: 11%;
	top: 55%;
	backdrop-filter: blur(4px);
	background-color: rgba(0, 0, 0, 0.3);
	border: 2px solid #bb1720;
	border-radius: 37px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #bb1720;
}
.button1:hover{
	color: #ffffff;
	background-color: #bb172077;
	transition: 0.5s;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.37);
}