body{
    background: #F7F7F7;
    overflow-x: hidden;
}
*{
    color: #000000;
    font-family: 'Inter', sans-serif;
}
input{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: none;
    border-bottom: 3px solid black;
}
input:focus{
    outline: none;
}
.bortop a{
    border-top: 2px solid transparent;
    display: inline-block;
    padding: 20px 0;
    transition: 0.5s;
    margin-right: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #acacac;
}
.bortop a:hover{
    color: #00e34b;
    text-decoration: none;
    border-top: 2px solid #00E34B;
}
.ccc a{
    margin-left: 40px;
    transition: 0.5s;
    color: #acacac;
    padding: 20px 0;
    font-size: 14px;
    display: inline-block;
}
.ccc a svg{
    transition: 0.5s;
    display: inline-block;
    fill: #acacac;
}
.ccc a:hover, .ccc a:hover svg{
    fill: #000000;
    text-decoration: none;
    color: #000000;
}
.apps{
    top: 347px;
    left: 904px;
}
h1{
    font-weight: 900;
    padding: 100px 0 0;
    margin-bottom: 0;
    width: 600px;
    font-size: 80px;
}
h2{
    font-weight: 700;
    font-size: 52px;
    letter-spacing: -0.02em;
}
.onlayntolov{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
    margin: 32px 0;
}
.price{
    font-size: 24px;
    font-weight: 800;
}
.title{
    text-align: left;
}
h3{
    width: 70%;
    font-weight: 600;
    font-size: 32px;

}
h4{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
h5{
    font-weight: 400;
    font-size: 14px;
}
p{
    font-size: 18px;
    line-height: 40px;
}
.dd{
    overflow: hidden;
height: 0;
}
#dropdownmenu{
    width: 100%;
    top: 40px;
    right: 0;
    z-index: 5;
}
#pink{
    width: 133px;
    left: 44px;
    top: 26px;
    z-index: 0;
}
.span{
    /*height: 30px;*/
    padding: 1px;
}
span{
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
}
.green{
    font-weight: 800;
    font-size: 32px;
    color: #00D74A;
}
.mycard{
    transition: 0.5s;
    border: 1px solid #F2F2F2;
    box-shadow: 0 2px 2px rgba(198, 198, 198, 0.25);
    background: white;
    border-radius: 12px;
}
.mycard:hover{
    box-shadow: 0 30px 30px rgba(119, 119, 119, 0.14);
}
.mydiv{
    height: 446px;
}
.mydiv a{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
}
.mydiv a:hover{
    border-bottom: 3px solid #00D74A;
    color: #00D74A;
}
.mydiv a > svg{
    fill: black;
}
.mydiv a:hover>svg{
    fill: #00D74A;
    transition: 0.5s;
}
.mydiv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 211px;
}
.imageholder{
    width: 80px;
    height: 80px;
    margin-top: 29px;
    margin-bottom: 25px;
    background: #F2FDF6;
}
.imageholder img{
    width: 33px;
}
.flexer{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
li a{
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 16px;
    margin-top: 30px;
    transition: 0.5s;
}
li a:hover{
    text-decoration: none;
    color: #00D74A;
}
.flexer>img{
    width: 24px;
    margin: 30px;
}
.flexer>a{
    color: black;
    margin-left: 53px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.flexer>a:hover{
     color: #00D74A;
 }
.purplebg{
    background: #475463;
}
.miniheight3{
    height: unset;
}
#operator{
    height: 434px;
    bottom: 0;
    right: 70px;
}
#pattern{
    height: 488px;
    bottom: 0;
    right: 0;
}
.chaa{
    font-size: 14px;
    padding-left: 24px;
    color: #acacac;
}
@media (max-width: 576px) {
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 22px;
        width: 100%;
    }
    .something{
        height: 55px;
        overflow: hidden;
    }
    .unsetheight{
        height: unset;
    }
    .mymy{
        padding-right: 10px;
    }
    .mymy:hover{
        background: #acacac;
    }
    .title{
        text-align: center;
    }
    .miniheight{
        height: 945px;
        overflow: hidden;
    }
    .miniheight2{
        overflow: hidden;
        height: 687px;
    }
    .onlydesktop{
        display: none;
    }
    .tarifgaulan{
        margin-top: 70px;
        width: 100%;
    }

    #pink{
        width: 52px;
        left: 24px;
        top: 24px;
        z-index: 0;
    }
    .margin-top{
        margin-top: 150px;
    }
    iframe{
        height: 380px;
    }
    .apps{
        left: unset;
        top: 50px;
    }
    .aa{
        background: white;
    }
}