body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Kumbh Sans', sans-serif;
}
div{
    position: relative;
    background: #ffffff;
    width: 300px;
    height: 800px;
    border-radius: 20px;
}
img{
    width: 50%;
    margin: 7% 25%;
}
h1{
    text-align: center;
    margin: 0;
}
p{
    line-height: 1.6;
    margin: 20px;
}
a{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #ffe600;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding: 20px 40px;
}
